a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}

a:hover {
    color: rgb(120, 120, 120);
    
}

a:focus {
    color: rgb(120, 120, 120);
}

.a-chosen {
    color: rgb(120, 120, 120);
}
