.todoItem {
    display: flex;
    justify-content: center;
}

.todoItem .content {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
    height: 32px;
    border: 1px solid rgb(100, 100, 100);
    line-height: 32px;
    color: rgb(100, 100, 100);
    margin: 5px;
    padding: 0 15px 0 15px;
    border-radius: 4px;
    overflow: hidden;
    animation-duration: 2s;
    animation-name: itemAppear;
}

.todoItem .content:hover {
    animation-name: contentBgColorAppear;
    animation-duration: 1s;
    background-color: rgba(255, 254, 192, 0.795);
}

.todoItem .contentDone {
    text-decoration: line-through;
}

.todoItem .buttonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 32px;
}

.todoItem .buttonBox .btn {
    width: 20px;
    height: 20px;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5px;
}

.todoItem .buttonBox .btn:hover {
    cursor: pointer;
}

.todoItem .buttonBox .closeBtn {
    background-image: url(../resourses/close.svg);
}

.todoItem .buttonBox .editBtn {
    background-image: url(../resourses/edit.svg);
}

.input {
    border: none;
    width: 100%;
    padding: 0;
    text-align: left;
    cursor: pointer;
    font-size: 18px;
}

.input:focus-visible {
    outline: none;
}

.editInput {
    font-size: 18px;
}

@keyframes itemAppear {
    0% {
        width: 0%;
        max-width: 0;
    }
    100% {
        width: 100%;
        max-width: 400px;
    }
}

@keyframes itemDisappear {
    from {
        width: 100%;
        max-width: 400px;
    }
    to {
        width: 0;
    }
}

@keyframes contentBgColorAppear {
    0% {
        background-color: white;
    }
    100% {
        background-color: rgba(255, 254, 192, 0.795);
    }
}