.todoGenerator {
    margin: 15px;
}

input {
    height: 30px;
    font-size: 16px;
}

.addBtn {
    margin-left: 10px;
}

.addBtn:hover {
    background-color: blue;
}

.title {
    font-size: 26px;
    font-weight: bold;
    margin: 10px;
}

.addInput {
    width: 200px;
    border-color: black;
}

.editBtn {
    font-size: 32px;
}